<html mlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<script th:src="@{/js/jquery/jquery_3.4.1.js}"></script>
<script th:src="@{/js/news/article.js}"></script>
<div>
<iframe id="previewFrame" style="background-color: white;
z-index:2; position:absolute; display: none; border:1px solid black; left: 0; right: 0; margin-left:auto; margin-right:auto;">
</iframe>
<form style="z-index:1;" name="article" action="/article/saveArticle" method="post" onsubmit="submitArticle()">
        Название статьи
        <textarea name="articleName"
                  style="width: 80%; resize: none; display: block; margin-left: auto; margin-right: auto; height: 33px; overflow-y: hidden;"></textarea>
        <br>
        <div style="text-align: center; margin-top: 2%;">
            <button type="button" name="header" onclick="insertTag(this);">Подзаголовок</button>
            <button type="button" name="video" onclick="insertTag(this);">Видео</button>
            <button type="button" name="image" onclick="insertTag(this);">Изображение</button>
        </div>
        Текст статьи
        <textarea id="text"
                  style="white-space: pre-wrap; border: 1px solid black; width: 80%; resize: none; display: block; margin-left: auto; margin-right: auto; height: 32px; overflow-y: hidden;"></textarea>
        <input type="submit" value="Создать статью"> <br><br>
        <button onclick="previewArticle(); return false;">Предпросмотр статьи</button>
</form>
</div>
<img src="image_0.jpg"/>
</body>
</html>